{% extends "_auth_card.html" %}
{% block title %}Reset password{% endblock %}
{% block card %}
<h5>Reset your password</h5>
<p class="text-secondary small">Enter your email address and we'll send you a link to choose a new password.</p>
<form method="post">{% csrf_token %}
  <input type="email" name="email" class="form-control" required autofocus placeholder="you@yourfirm.com">
  <button class="btn btn-primary w-100 mt-3">Send reset link</button></form>
<div class="text-center mt-3"><a class="small" href="{% url 'login' %}">Back to sign in</a></div>
{% endblock %}
